{% extends "expenseapp/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}



<div class="max-w-md m-auto ">
  <div class=" col-span-8 bg-purple-400 shadow-lg rounded-lg  px-10 py-10 min-h-fit my-10 ">


    <h1 class="text-white font-bold text-3xl pb-5 text-center">{% trans "Sign Up" %}</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <!--First username input-->
        <div class="relative mb-6" data-te-input-wrapper-init>
          {{form.username}}
        </div>
      </div>
      <div class="relative mb-6" data-te-input-wrapper-init>
        {{form.email}}
      </div>
      <!--Password input-->
      <div class="relative mb-6" data-te-input-wrapper-init>
        {{form.password1}}
      </div>

      <!--ReEnter Password input-->
      <div class="relative mb-6" data-te-input-wrapper-init>
        {{form.password2}}
      </div>

      {% if redirect_field_value %}
      <div class="p-10">
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      </div>
      {% endif %}

      <!--Submit button-->
      <div class="text-center mt-2">
        <button type="submit"
          class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-2 py-1 mt-5 my-2 text-white font-bold rounded-full ">{% trans "Sign Up" %}
        </button>
      </div>

      <div class=" px-1 py-1 text-white mx-2 mt-8 py-2 text-center">
        <p>{% blocktrans %}Already have an account? Then please
          <p class="m-2 p-2"><a href="{{ login_url }}"
              class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-5 py-2 text-white font-bold rounded-full">Sign
              In</a>{% endblocktrans %}</p>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}