{% extends "expenseapp/base.html" %}

{% block content %}

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title text-3xl font-bold">Sign In</h4>
            </header>
            <form action="{% url 'signin' %}" method="POST">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <!-- Confirm Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label"></label>
                    {{form.confirm_password}}
                </div>


                <!-- Submit button -->
                <button type="submit"
                    class="btn btn-primary btn-block mb-4 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-5 py-2 text-white font-bold rounded-full">Sign
                    In</button>

                {{ form.email.errors}}
                {{ form.non_field_errors }}

            </form>
        </article><!-- card-body.// -->
        <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        <br><br>
    </div> <!-- card .// -->

</section>



{% endblock %}