{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Expense Tracker">
    <meta name="keywords" content="Expense, Expense Tracker, Money, Finance">
    <!-- Cloudinary link -->
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/dlulkctls/image/upload/v1681590261/expense_qyhdfz.png">
    <!-- Tailwind/Css files-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap4 files-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom javascript -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>

    <title>Expense Tracker</title>
</head>

<body>
    <!-- navbar -->
    {% include 'includes/navbar.html' %}

    {%block content %}
    <!-- content -->
    {% endblock %}

    <!-- footer -->
    {% include 'includes/footer.html' %}

</body>

</html>