{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Expense Tracker</title>
</head>

<body>
    <div class="min-h-screen bg-gradient-to-r from-purple-500 to-pink-500">

        <nav class="shadow-lg p-5">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="/index" class="flex">
                    <img src="https://res.cloudinary.com/dlulkctls/image/upload/v1681470347/expense-tracker-low-resolution-logo-white-on-transparent-background_yscuhs.png"
                        class="h-12 mr-6" alt="Expense Logo" />

                </a>
            </div>
            <span>Hello {{request.user}},</span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
        </nav>

        {%block content %}
        {% endblock %}


        <footer class=" bottom-0 left-0 w-screen rounded-lg shadow dark:bg-gray-900 m-4 px-10 py-4">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
                        <img src="https://res.cloudinary.com/dlulkctls/image/upload/v1681470202/expense-tracker-low-resolution-logo-black-on-transparent-background_r9jbwo.png"
                            class="h-8 mr-3" alt="Expense Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0 dark:text-white">
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Contact</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-white sm:text-center dark:text-white">© 2023 <a href="/index"
                        class="hover:underline">Expense Tracker</a>. All Rights
                    Reserved.</span>
            </div>

        </footer>
    </div>



    <!--- icon set -->
    <script src="https://kit.fontawesome.com/43ecf20a8b.js" crossorigin="anonymous"></script>

</body>


</html>