{% extends "expenseapp/base.html" %}
{%block content %}
<!-- Form to edit an entry-->

<form method="POST" class="shadow-lg m-10">
    {% csrf_token %}
    <div class="px-10 py-10 flex ">
        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold text-white">Expense Name</label>
            </div>
            <div class="border p-1">{{ expense_form.name }}</div>
            <!--from the expense form get name field -->
        </div>
        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold text-white">Expense Amount</label>
            </div>
            <div class="border p-1">{{ expense_form.amount }}</div>
            <!--from the expense form get amount field -->
        </div>
        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold text-white">Expense category</label>
            </div>
            <div class="border p-1">{{ expense_form.category }}</div>
            <!--from the expense form get category field -->
        </div>
        <div class="px-10 py-10">
            <button
                class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-5 py-2 text-white font-bold rounded-full"
                type="submit">Update</button>
        </div>
        <div class="px-10 py-12">
            <a href="{% url 'home' %}"
                class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-5 py-2 text-white font-bold rounded-full">
                <i class="fa-solid fa-turn-down-left"></i> Back
            </a>
        </div>
    </div>
</form>


{% endblock %}