{% extends "expenseapp/base.html" %}
{%block content %}

<div class="bg-purple-400 m-auto justify-center shadow-lg m-20 rounded-lg form-container px-10 py-10 max-w-min my-6">
    <div class="justify-center flex">
        <h1 class="text-white font-bold text-3xl pb-5"> Register </h1>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="grid grid-cols-2 gap-4">
            <!--First name input-->
            <div class="relative mb-6" data-te-input-wrapper-init>
                {{form.username}}
            </div>
        </div>

        <!--Email input-->
        <div class="relative mb-6" data-te-input-wrapper-init>
            {{form.email}}
        </div>

        <!--Password input-->
        <div class="relative mb-6" data-te-input-wrapper-init>
            {{form.password1}}
        </div>

        <!--ReEnter Password input-->
        <div class="relative mb-6" data-te-input-wrapper-init>
            {{form.password2}}
        </div>

        <!--Submit button-->
        <button type="submit"
            class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 px-5 py-2 text-white font-bold rounded-full"
            data-te-ripple-init data-te-ripple-color="dark">
            Sign up
        </button>
        {{form.errors}}
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Already a have an account?<a href="{% url 'login' %}" class="text-primary text-white">Login</a>
            </div>
        </div>
    </form>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username..';
    form_fields[2].placeholder = 'Email..';
    form_fields[3].placeholder = 'Enter Password..';
    form_fields[4].placeholder = 'Re-enter Password..';

    for (var field in form_fields) {
        form_fields[field].className += '  form-control'
    }
</script>

{% endblock %}